/*
Color Scheme
106B4B
6BEEC0
23EBA5
306B56
1CB881
*/


.container{
    width:80vw;
    margin:40px auto;
}

html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    font-family: 'Noto Sans JP', sans-serif;
}

header.primary {
    background-color:#106B4B;
    text-align: center;
    color: #ffffff;
    text-shadow: 0px 0px 3px #000000;
    padding: 40px;
    
}

header.primary h1 {
    font-size: 2.6;
}

header.primary h1 a {
    color: #6BEEC0;
    text-decoration: none;
}

header.primary h2 {
    font-size: 1.4rem;
    margin: 20px auto 40px;
}

header.primary nav {

}

header.primary nav ul{
    padding: 0;
}

header.primary nav ul li{
    list-style-type: none;
}

header.primary nav ul li a{
    color: #ffffff;
    text-decoration: none;
    padding: 8px 16px;
    
}

#content {
    display: inline-block;
    display: flex;
    justify-content: space-around;
}

article.post {
    border: 2px dotted #0a0a0a;
    width: 30%;
}

footer.post-meta a{
    text-decoration: none;
    color: #000000;
}

footer.post-meta a :hover{
    color: #5A5A5A;
    text-decoration:underline;
}

article.post h2{
    text-align: center;
    border-top: 2px dotted #5A5A5A;
    border-bottom: 2px dotted#5A5A5A;
}

article.post h2 a{
    color: #000000;
    text-decoration: none;
}

article.post h2 :hover{
    color: #5A5A5A;
    text-decoration:underline;
}
img{
    float:left;
    margin:1rem;
}
p{
    clear:both;
    text-align: justify;
}
h1, h2, h3, h4, h5, h6{
    clear:both;
    text-align: center;
    display:block;
}

aside, aside div{
    width:100%;
    background-color: #313131;
    color:#ffffff;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

aside a{
    text-decoration: none;
}

aside footer{
    display:none;
}